@page
@model AboutModel
@{
    ViewData["Title"] = "Learning Academy Programs";
}
<h3 class="urs-welcome-title mb-4">Learning Academy Programs</h3>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="urs-program-title m-0">Federal Fleet Management Certification Program</h4>
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p class="urs-program-text">GSA’s Office of Fleet Management is the federal government’s source for all non-tactical vehicle purchasing and leasing solutions. GSA Fleet’s mission is to provide safe, reliable, low cost vehicle solutions to assist federal agencies in effectively and efficiently meeting their mission and federal mandates.  For more information about GSA Fleet’s leasing and purchasing programs visit <a class="program-link" target="_blank" href="https://gsa.gov/gsafleet">https://gsa.gov/gsafleet</a>.</p>
                <p class="urs-program-text">The Federal Fleet Manager Certification Program (FFMCP) was developed by the U.S. General Services Administration's (GSA) Office of Fleet Management in conjunction with the Office of Governmentwide Policy to provide training to Fleet Managers of all levels. The FFMCP is a comprehensive fleet management training program specific to federal fleet management.</p>
                <p class="urs-program-text">The program consists of six core courses and your choice of elective courses. Once a participant successfully completes the six core courses, in sequential order following the vehicle lifecycle, and the required number of elective courses, a program certificate will be issued. Upon program completion you should have an overall understanding of the regulations and processes applicable to federal fleets as well as best practices for management. This program does not replace any agency-specific guidance or training.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="urs-program-title m-0">FEDSIM Learning Academy Outreach Program</h4>
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p class="urs-program-text">FEDSIM is a Client Support Center within the General Services Administration’s (GSA) Office of Assisted Acquisition Services (AAS). FEDSIM is the leading provider of assisted acquisition services for federal agencies. Our services include acquisition, financial, and project management for the full acquisition life cycle. For more information about GSA FEDSIM’s services and projects visit <a class="program-link" target="_blank" href="https://fedsim.gsa.gov/">fedsim.gsa.gov</a>.</p>
                <p class="urs-program-text">The FEDSIM Learning Academy (FLA) was developed by FEDSIM to provide federal acquisition training to other Agencies. The FEDSIM Learning Academy contains comprehensive training courses specific to FEDSIM’s assisted acquisition practices and processes.</p>
                <p class="urs-program-text">The program consists of twenty elective courses. Upon completion of offered courses you should have gained a basic working knowledge of the FEDSIM assisted acquisition practices and processes. This program does not replace any agency-specific guidance or training.</p>
            </div>
        </div>
    </div>
    <!--
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h4 class="urs-program-title m-0">Federal Risk and Authorization Management Program</h4>
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p class="urs-program-text"><a class="program-link" target="_blank" href="https://www.fedramp.gov/about/">Federal Risk and Authorization Management Program (FedRAMP)</a> is a government-wide program that provides a standardized approach to security assessment, authorization, and continuous monitoring for cloud products and services. FedRAMP empowers agencies to use modern cloud technologies, with emphasis on security and protection of federal information, and helps accelerate the adoption of secure, cloud solutions.</p>
                <p class="urs-program-text">FedRAMP consists of two primary entities: the Joint Authorization Board (JAB) and the Program Management Office (PMO). Members of the JAB include the chief information officers (CIOs) from the Department of Defense, Department of Homeland Security, and General Services Administration. The JAB serves as the primary governance and decision-making body for FedRAMP.</p>
                <p class="urs-program-text">The FedRAMP PMO resides within GSA and supports agencies and cloud service providers through the FedRAMP authorization process and maintains a secure repository of FedRAMP authorizations to enable reuse of security packages.</p>
                <p class="urs-program-text">Visit the FedRAMP website at <a class="program-link" target="_blank" href="https://www.fedramp.gov">https://www.fedramp.gov.</a></p>
                <p class="urs-program-text">For questions about FedRAMP, email <a href="mailto:info@fedramp.gov?subject=">info@fedramp.gov</a>.</p>
            </div>
        </div>
    </div>
    -->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h4 class="urs-program-title m-0">Federal Risk and Authorization Management Program (FedRAMP) Training</h4>
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <p class="urs-program-text">Learning is a core component of FedRAMP. We know that our program is rigorous, demanding, and requires that our stakeholders accrue and maintain a substantial knowledge base. In order to make this knowledge more accessible and attainable, we have designed training opportunities to empower and inform our stakeholders every step of the way.</p>
                <p class="urs-program-text">These trainings consist of on-demand modules designed for specific stakeholder groups. Each course provides an in-depth focus around a specific step in the FedRAMP authorization process. Throughout each course, stakeholders will gain a better understanding of roles and responsibilities, security requirements, and best practices.</p>
            </div>
        </div>
    </div>
</div>